/* Tailwind css file */



/* Ensure you have tailwindcss included properly in your setup */

/* Custom styles for the navbar */
.bg-custom-nav {
  position: absolute;
  width: 350px;
  height: 100vh; /* Set the height to cover the entire viewport */
  left: 0;
  top: 0;
  background: #923D41; /* Background color */
}
